.stack > * + * {
    display: block;
    margin-top: 4rem;
}

.stack--large > * + * {
    display: block;
    margin-top: 8rem;
}

.stack--small > * + * {
    display: block;
    margin-top: 1rem;
}

.cluster {
    display: flex;
    /* gap: 1em; */
    align-items: stretch;
}
.cluster:not(.cluster--no-gutter) > * + * {
    margin-left: 1em;
}

.cluster--vertical {
    align-items: center;
}

.cluster--centered {
    justify-content: center;
}

.cluster--no-gutter {
    gap: 0;
}
