code {
    font-family: var(--monospace);
    color: var(--code-text);
}

*:not(pre) > code {
    padding: 0 0.3em 0.2em 0.3em;
    background: var(--code-background);
    border: 0.1rem solid var(--hairline);
}

pre {
    /* overflow: hidden; */
    color: var(--code-text);
    font-size: inherit;
    padding: 0;
    /* border-radius: 0.6rem; */
}
pre > code {
    background: var(--code-background);
    border: 0.1rem solid var(--hairline);
    overflow: auto;
    display: block;
    padding: 1.2rem;
    /* border-radius: 0.6rem; */
    line-height: 1.4;
}

pre:has(.hljs[class*="language-"]) {
    position: relative;
    padding-top: 1em;
}

pre:has(.hljs[class*="language-"]):before {
    display: block;
    /* font-weight: var(--type-weight--bold); */
    /* letter-spacing: 0.1rem; */
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 0.4rem 0.6rem; */
    font-size: 1.2rem;
    line-height: 1.4;
    /* transform: translate(-0.1rem, -100%); */
    /* background: var(--primary); */
    /* color: var(--white); */
}
pre:has(.hljs.language-js):before {
    content: "JavaScript";
}
pre:has(.hljs.language-html):before {
    content: "HTML";
}
pre:has(.hljs.language-bash):before {
    content: "Terminal command";
}
