.outer {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    --sidebar-open-width: 240px;
    --sidebar-closed-width: 4rem;
    --sidebar-offset: -240px;
}

.sidebar {
    z-index: 2;
    height: 100vh;
    width: var(--sidebar-closed-width);
    position: relative;
    flex-shrink: 0;
    position: fixed;
    flex-grow: 0;
    border-right: 0.1rem solid var(--hairline);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    @media (min-width: 1200px) {
        width: var(--sidebar-open-width);
    }
}

.sidebar__inner {
    z-index: 4;
    background: var(--background);
    height: 100%;
    width: var(--sidebar-open-width);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(var(--sidebar-offset));
    border-right: 0.1rem solid var(--hairline);
    transition: transform 0.2s;
    overflow-y: scroll;
    @media (min-width: 1200px) {
        position: relative;
        transform: translateX(0);
    }
}

.sidebar__scrollable {
    /* padding: 1em; */
    padding-bottom: 6em;
}

.main {
    z-index: 1;
    height: 100%;
    width: calc(100% - var(--sidebar-closed-width));
    margin-left: var(--sidebar-closed-width);
    @media (min-width: 1200px) {
        width: calc(100% - var(--sidebar-open-width));
        margin-left: var(--sidebar-open-width);
    }
}

.sidebar__home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--sidebar-closed-width);
    height: var(--sidebar-closed-width);
    color: var(--text);
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid var(--hairline);
    @media (min-width: 1200px) {
        display: none;
    }
}

.sidebar__home-link-logo {
    width: 2.8rem;
    height: 2.8rem;
}

.sidebar__home-link:hover {
    background: var(--background--secondary);
}
.sidebar__home-link:hover .sidebar__home-link-logo .icon--logo__core {
    /* fill: var(--primary); */
}

.sidebar__menu-checkbox {
    display: none;
}

.sidebar__toggle {
    background: none;
    appearance: none;
    flex-shrink: 1;
    border: none;
    display: block;
    width: var(--sidebar-closed-width);
    height: var(--sidebar-closed-width);
    color: var(--text);
    height: 100%;
    position: relative;
    cursor: pointer;
    @media (min-width: 1200px) {
        display: none;
    }
}
.sidebar__toggle:focus {
    /* background: var(--secondary); */
}
.sidebar__toggle:hover {
    background: var(--background--secondary);
}
.sidebar__toggle:before {
    content: "";
    display: block;
    position: absolute;
    top: 2rem;
    left: 50%;
    width: 2rem;
    height: 1.5rem;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
        var(--text) 20%,
        var(--background) 20%,
        var(--background) 40%,
        var(--text) 40%,
        var(--text) 60%,
        var(--background) 60%,
        var(--background) 80%,
        var(--text) 80%
    );
}
.sidebar__toggle:hover:before {
    background-image: linear-gradient(
        var(--text) 20%,
        var(--background--secondary) 20%,
        var(--background--secondary) 40%,
        var(--text) 40%,
        var(--text) 60%,
        var(--background--secondary) 60%,
        var(--background--secondary) 80%,
        var(--text) 80%
    );
}

.sidebar__toggle--inner {
    position: absolute;
    margin-top: 0;
    top: 2.6rem;
    right: 0;
    width: 5.2rem;
    height: 5.2rem;
    cursor: pointer;
    transform: translateY(-50%);
    @media (min-width: 1200px) {
        display: none;
    }
}
.sidebar__toggle--inner:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--text);
    width: 1.6rem;
    height: 0.2rem;
    transform: translate(-50%, -50%) rotate(45deg);
}
.sidebar__toggle--inner:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--text);
    width: 1.6rem;
    height: 0.2rem;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.sidebar__toggle--inner:hover {
    background: var(--background--secondary);
}

.sidebar__menu-checkbox:checked ~ .sidebar__inner {
    transform: translateX(0);
}
.sidebar__mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background--secondary);
    opacity: 0.6;
    z-index: 3;
    cursor: pointer;
}

.sidebar__menu-checkbox:checked ~ .sidebar__mask {
    display: block;
    @media (min-width: 1200px) {
        display: none;
    }
}
