hr {
    display: block;
    border: none;
    width: 50%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    position: relative;
}

hr:before {
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 50%;
    background: var(--grey--dark);
    transform: translate(-50%, -50%);
}
hr:after {
    z-index: 2;
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    background: var(--white);
    border: 1px solid var(--grey--dark);
    box-shadow: var(--white) 0 0 0 4px;
    transform: translate(-50%, -50%) rotate(45deg);
}
hr.hr--bump {
    margin-bottom: 3em;
}
