@font-face {
    font-family: "Cartograph Sans";
    src: url("/fonts/CartographSansCF-Medium.eot");
    src: url("/fonts/CartographSansCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographSansCF-Medium.woff") format("woff"),
        url("/fonts/CartographSansCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("/fonts/CartographSansCF-MediumItalic.eot");
    src: url("/fonts/CartographSansCF-MediumItalic.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographSansCF-MediumItalic.woff") format("woff"),
        url("/fonts/CartographSansCF-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("/fonts/CartographSansCF-Heavy.eot");
    src: url("/fonts/CartographSansCF-Heavy.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographSansCF-Heavy.woff") format("woff"),
        url("/fonts/CartographSansCF-Heavy.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("/fonts/CartographSansCF-HeavyItalic.eot");
    src: url("/fonts/CartographSansCF-HeavyItalic.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographSansCF-HeavyItalic.woff") format("woff"),
        url("/fonts/CartographSansCF-HeavyItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph Mono";
    src: url("/fonts/CartographMonoCF-Medium.eot");
    src: url("/fonts/CartographMonoCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/CartographMonoCF-Medium.woff") format("woff"),
        url("/fonts/CartographMonoCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --type-family--display: "Cartograph Sans", "brandon-grotesque", "futura",
        "gil sans", sans-serif;
    --type-family--text: "Cartograph Sans", "ff-tisa-web-pro", georgia, serif;
    --type-family--code: "Cartograph Mono", Menlo, Monaco, "Andale Mono",
        "Lucida Console", "Courier New", monospace;
    --type-weight--book: 400;
    --type-weight--bold: 700;

    --typeface: "Cartograph Sans", sans-serif;
    --monospace: "Cartograph Mono", monospace;
}
