@import "./_settings.colours.css";
@import "./_settings.breakpoints.css";
@import "./_settings.fonts.css";

@import "./_utils.hidden.css";
/* @import "./_hljs.github-dark-dimmed.css"; */
/* @import "./_hljs.github-dark.css"; */
@import "./_hljs.github.css";

@import "./_base.code.css";
@import "./_base.general.css";
@import "./_base.icons.css";
@import "./_base.layout.css";

@import "./_components.examples.example-01.css";
@import "./_components.examples.comic-sans-ftw.css";
@import "./_components.header.css";
@import "./_components.home.css";
@import "./_components.menu.css";
@import "./_components.ornaments.css";
@import "./_components.sidebar.css";
@import "./_components.smalls.css";
@import "./_components.toc.css";

@import "../../node_modules/picobel/build/picobel.all.css";

:root {
    color-scheme: light dark;
}

/* .wrapper {
    max-width: 46em;
    margin: 0 auto;
} */

main img {
    max-width: 100%;
}
